<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Orden de Compra</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                {{diagnostic}}
                <form (ngSubmit)="onSubmit()" #ordenDeCompraForm="ngForm">
                    <div class="row control-group">
                        <div class="form-group col-xs-12">
                            <label for="numero">No. Orden</label>
                            <input type="text" class="form-control" placeholder="No. Orden" id="numero" required disabled [(ngModel)]="orden_de_compra.numero" name="numero" #numero="ngModel">
                        </div>
                        <div [hidden]="numero.valid || numero.pristine" class="alert alert-danger"> 
                            Número de orden requerido
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12">
                            <label for="fecha">Fecha</label>
                            <input type="text" class="form-control" placeholder="Fecha" id="fecha" required disabled [(ngModel)]="orden_de_compra.fecha" name="fecha">
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12">
                            <label for="empleado">Empleado</label>
                            <input type="text" class="form-control" placeholder="Empleado" id="empleado" required disabled [(ngModel)]="orden_de_compra.empleado" name="empelado">
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12">
                            <label for="proveedor">Proveedor</label>
                            <select class="form-control"  id="proveedor" required [(ngModel)]="orden_de_compra.proveedor" name="proveedor">
                                <option *ngFor="let proveedor of proveedores" [value]="proveedor.cedula">{{proveedor.cedula}}, {{proveedor.nombre}}</option>
                            </select>
                        </div>
                    </div>
                    {{diagnostic2}}
                    <h3>Detalle</h3>
                    <form (ngSubmit)="agregarProducto()" #productoForm="ngForm">
                        <div class="row control-group">
                            <div class="form-group col-xs-12">
                                <label for="precio">Item</label>
                                <input type="number" class="form-control" placeholder="{{contador_item}}" id="precio" disabled>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12">
                                <label for="producto">Producto</label>
                                <select class="form-control" id="producto" required [(ngModel)]="item.producto" name="producto">
                                    <option *ngFor="let producto of productos" [value]="producto.cedula">{{producto.cedula}}, {{producto.nombre}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12">
                                <label for="precio">Precio</label>
                                <input type="text" class="form-control" placeholder="No establecido" id="precio" disabled>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12">
                                <label for="cantidad">Cantidad</label>
                                <input type="number" class="form-control" placeholder="Cantidad" id="cantidad" required [(ngModel)]="item.cantidad" name="cantidad" #cantidad="ngModel">
                            </div>
                            <div [hidden]="cantidad.valid || cantidad.pristine" class="alert alert-danger"> 
                                Cantidad requerida
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="form-group col-xs-12 text-center">
                                <button type="submit" class="btn btn-success btn-lg" [disabled]="!productoForm.form.valid">Agregar</button>
                            </div>
                        </div>
                    </form>

                    <div class="row">
                        <div class="col-xs-12">
                            <label>Productos</label>
                            <div *ngFor="let item of orden_de_compra.items">
                                <p>#{{item.item}} / {{item.producto}} / Precio: {{item.precio}} / Cantidad: {{item.cantidad}}</p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group col-xs-12 text-center">
                            <button type="submit" class="btn btn-success btn-lg" [disabled]="!ordenDeCompraForm.form.valid">Enviar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>